.calculator {
    width: 300px;
    height: 500px;
    padding: 20px;
    background-color: black;
    box-shadow: 3px 2px 3px rgb(37, 27, 27);
    border-radius: 5px;
}
.display{
    padding: 20px;
    font-size: x-large;
    background-color: rgba(186, 189, 186, 0.289);
    color: aliceblue;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: right;

}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
button{
    padding: 20px;
    background-color: rgb(239, 234, 234);
    border-color: black;
    font-family: calc();
    cursor: pointer;
    border-radius: 5px;
}
 button:hover{
    background-color: rgb(94, 96, 96);
 }